*{cursor: url(FlashingWhite.cur),default;}
body,html {
	margin:0;
	height:100%;
	width:100%;
	font-family:'Lato';
	font-size: 100%;
}

body {
  display: grid;
  grid-template-rows: 60px auto 60px;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "header navigation"
  "content content"
  "slider slider";
}

.content {
  grid-area: content;
}

#map {
	height: 100%;
}

.header {
	  padding: 10px;
    background-color: white;
    font-family:'PLayfair-Display, sans-serif';
    font-weight: bold;
    font-size: 2.5em;
    color: #db3e34ff;
}


.footer {
	grid-area: footer;
	padding:20px;
	background-color:#333;
	color: white;
  position:relative;
}

/*navigation*/
  ul
   {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: #f55e61;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5em;
  }

  a:link {
    text-decoration: none;
    color: #f55e61;
  }
  
  a:visited {
    text-decoration: none;
    color: #f55e61;
  }
  
  a:hover {
    text-decoration: none;
    color: #db3e34ff;
  }
  
  a:active {
    text-decoration: none;
    color: #db3e34ff;
  }

  .navigation a.active {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

/* legend styles */
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	min-width: 100px;
	min-height: 50px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}


.legend {
  color: #555;
  padding: 6px, 8px;
  font: 12px Arial, Helvetica, sans-serif;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  }
  .legend ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  clear: both;
  }
  .legend li {
  display: inline-block;
  width: 30px;
  height: 22px;
  opacity: 0.7;
  }
  .legend .min {
  float: left;
  padding-bottom: 5px;
  }
  .legend .max {
  float: right;
  }

.pie {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  min-width: 100px;
  min-height: 50px;
}

.pie h4 {
	margin: 0 0 5px;
	color: #777;
}

.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	min-width: 100px;
	min-height: 50px;
  display: inline-block;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.slider {
  max-width: 200px;
  grid-area: slider;
  position: absolute;
  display: block;
}