body,html {
	margin:0;
	height:100%;
	width:100%;
	font-family:'Lato';
	font-size: 100%;
}
body {
  display: grid;
  grid-template-rows: 60px 1fr 100px;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "header navigation"
  "content content"
  "footer footer";
}

.content {
  grid-area: content;
}

#map {
	height: 100%;
}

.header {
	grid-area: header;
	padding: 10px;
    background-color: white;
    font-family:'PLayfair-Display, sans-serif';
    font-weight: bold;
    font-size: 2.5em;
    color: #db3e34ff;
}

.header a:visited { 
    text-decoration: none; 
    color: black; 
   }

.header a:focus {
    color: black;
    text-decoration: none; 
}

.navigation a:visited { 
    text-decoration: none; 
    color: black; 
   }

.navigation a:active {
    text-decoration: none;
    color: yellow
}

.footer {
	grid-area: footer;
	padding:10px;
	background-color:#f55e61;
	color: white;
}

/*navigation bar*/

ul
{
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
}

li {
 float: right;
}

li a {
 display: block;
 color: white;
 text-align: #f55e61;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 1.5em;
}


a:link {
  text-decoration: none;
  color: #f55e61;
}

a:visited {
  text-decoration: none;
  color: #f55e61;
}

a:hover {
  text-decoration: none;
  color: #db3e34ff;
}

a:active {
  text-decoration: none;
  color: #db3e34ff;
}

.current-link {
  color: #f55e61;
}

#map {
	height: 100%;
}


#home {
    display: grid;
	grid-template-rows: 80px 1fr;
	grid-template-columns: 250px 1fr;
	grid-template-areas: 
	"header navigation"
	"sidebar content";
}

.footer {
	grid-area: footer;
	padding:10px;
	background-color: #1B1B1B;
	color: white;
}

#about {
    display: grid;
	grid-template-rows: 80px 1fr;
	grid-template-columns: 50% 50%;
	grid-template-areas: 
	"header navigation"
	"bio project"
    
}

.bio {
    float: center;
    font-family: 'Roboto';
    font-size: 25px;
    grid-area: bio;
    font-weight: bold;
    text-align: center;
}

.project {
    font-family: 'Roboto';
    font-size: 15px;
    float: right;
    padding: 15px;
    grid-area: project;
    text-align: center;
    
}

.bio img {
    border-radius: 50%;
    width: 270px;
    border-style:ridge;
    border-color: #C4C4C4;
    margin: 0 auto;
    margin-top: 8px;
}



.row {
    display: flex;
  }
  
.column {
    flex: 50%;
    padding: 5px;
    text-align: center;
}
/*buttons under pics*/
.caption {
    font-family: 'Roboto';
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    background-color: #C4C4C4;
    display: block;
    transform: translateX(50%);
    width: 50%;
    text-align: center;

}
/*display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 15px;*/





/*flipping images*/
.flip-box {
    background-color: transparent;
    perspective: 1000px;
    border-radius: 50%;
  }
  
  .flip-box-inner {
    /*position: relative;*/
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    color: black;
    border-radius: 50%;
  }
  
  .flip-box-back {
    background-color:transparent;
    color: #c76f0a;
    transform: rotateY(180deg);
    font-stretch: semi-condensed;
    font-size: small;
    border-radius: 50%;
    position:absolute;
    background-size: cover;
    width:330px;
    top:10px
  }
