body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

#home {
    display: grid;
	grid-template-rows: 80px 1fr;
	grid-template-columns: 250px 1fr;
	grid-template-areas: 
	"header navigation"
	"sidebar content";
}

.header {
	grid-area: header;
	padding:10px;
    background-color: #C4C4C4;
    font-family: 'Roboto';
    font-size: 35px
}
.sidebar {
	grid-area: sidebar;
	padding:10px;
    background-color: #555;
}
.navigation {
    overflow: hidden;
    background-color: #C4C4C4;
  }

.navigation a {
    float:right;
    text-align: center;
    cursor:pointer;
	font-family: 'Roboto';
	font-size: 25px;
	font-weight:bold;
	text-decoration:none;
    background-color: #C4C4C4;
    display:block;
    padding: 14px 16px
}

.navigation a:hover {
    background-color: #ddd;
    color: black;
}

.navigation a:visited { 
    text-decoration: none; 
    color: black; 
   }

.navigation a:active {
    text-decoration: none;
    color: yellow
}

.content {
	grid-area: content;
}

#about {
    display: grid;
	grid-template-rows: 80px 1fr;
	grid-template-columns: 50% 50%;
	grid-template-areas: 
	"header navigation"
	"bio project";
}

.bio {
    float: left;
    font-family: 'Roboto';
    font-size: 25px;
    grid-area: bio;
    font-weight: bold;
    text-align: center;
}

.project {
    font-family: 'Roboto';
    font-size: 15px;
    float: right;
    padding: 15px;
    grid-area: project;
}

.bio img {
    border-radius: 50%;
    width: 50%;
}

.row {
    display: flex;
  }
  
.column {
    flex: 50%;
    padding: 5px;
  }

/*display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 15px;*/
