body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

#home {
    display: grid;
	grid-template-rows: 80px 1fr;
	grid-template-columns: 250px 1fr;
	grid-template-areas: 
	"header navigation"
	"sidebar content";
}

.header {
	grid-area: header;
	padding:10px;
    background-color: #C4C4C4;
    font-family: 'Roboto';
    font-size: 35px
}
.sidebar {
	grid-area: sidebar;
	padding:10px;
    background-color: #555;
}
.navigation {
    overflow: hidden;
    background-color: #C4C4C4;
  }

.navigation a {
    float:right;
    text-align: center;
    cursor:pointer;
	font-family: 'Roboto';
	font-size: 25px;
	font-weight:bold;
	text-decoration:none;
    background-color: #C4C4C4;
    display:block;
    padding: 14px 16px
}

.navigation a:hover {
    background-color: #ddd;
    color: black;
}

.navigation a:visited { 
    text-decoration: none; 
    color: black; 
   }

.navigation a:active {
    text-decoration: none;
    color: yellow
}


#about {
    display: grid;
	grid-template-rows: 80px 1fr;
	grid-template-columns: 50% 50%;
	grid-template-areas: 
	"header navigation"
	"bio project"
    
}

.bio {
    float: center;
    font-family: 'Roboto';
    font-size: 25px;
    grid-area: bio;
    font-weight: bold;
    text-align: center;
}

.project {
    font-family: 'Roboto';
    font-size: 15px;
    float: right;
    padding: 15px;
    grid-area: project;
    text-align: center;
    
}

.bio img {
    border-radius: 50%;
    width: 270px;
    border-style:ridge;
    border-color: #C4C4C4;
    margin: 0 auto;
    margin-top: 8px;
}



.row {
    display: flex;
  }
  
.column {
    flex: 50%;
    padding: 5px;
    text-align: center;
}
/*buttons under pics*/
.caption {
    font-family: 'Roboto';
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    background-color: #C4C4C4;
    display: block;
    transform: translateX(50%);
    width: 50%;
    text-align: center;

}



/*display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 15px;*/





/*flipping images*/
.flip-box {
    background-color: transparent;
    perspective: 1000px;
    border-radius: 50%;
  }
  
  .flip-box-inner {
    /*position: relative;*/
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    color: black;
    border-radius: 50%;
  }
  
  .flip-box-back {
    background-color:transparent;
    color: #c76f0a;
    transform: rotateY(180deg);
    font-stretch: semi-condensed;
    font-size: small;
    border-radius: 50%;
    position:absolute;
    background-size: cover;
    width:330px;
    top:10px
  }