*{cursor: url(FlashingWhite.cur),default;}
body,html {
	margin:0;
	height:100%;
	width:100%;
	font-family:'Lato';
	font-size: 100%;
}

body {
  display: grid;
  grid-template-rows: 60px 1fr 100px;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "header navigation"
  "content content"
  "footer footer";
}

.content {
  grid-area: content;
}

#map {
	height: 100%;
}

.header {
	  padding: 10px;
    background-color: white;
    font-family:'PLayfair-Display, sans-serif';
    font-weight: bold;
    font-size: 2.5em;
    color: #db3e34ff;
}

.footer {
	grid-area: footer;
	padding:20px;
	background-color:white;
	color: white;
  position:relative;
}

/*navigation*/
  ul
   {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: #f55e61;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5em;
  }

  a:link {
    text-decoration: none;
    color: #f55e61;
  }
  
  a:visited {
    text-decoration: none;
    color: #f55e61;
  }
  
  a:hover {
    text-decoration: none;
    color: #db3e34ff;
  }
  
  a:active {
    text-decoration: none;
    color: #db3e34ff;
  }

  .current-link {
    color: #f55e61;
 }

 /*timeline*/

 #timelineChart {
   position:absolute;
   width: 100%;
   height: 100%;
   bottom: 60px;
 }
  .timeline-base {
    stroke: #444;
    stroke-width: 0.2;
    vertical-align: top;
    position: absolute;
    top: 20px;
  }
  .circle-category {
    transition: fill-opacity 0.2s, r 0.5s;
    -webkit-transition: fill-opacity 0.2s, r 0.5s;
  }
  .circle-art,
  .circle-art ~ .text-position,
  .details-art .text-position {
    color: #f6b93b;
    fill: #f6b93b;
  }
  .circle-government,
  .circle-government ~ .text-position,
  .details-government .text-position {
    color: #78e08f;
    fill: #78e08f;
  }
  .circle-immigration,
  .circle-immigration ~ .text-position,
  .details-immigration .text-position {
    color: #011936;
    fill: #011936;
  }
  .circle-strike,
  .circle-strike ~ .text-position,
  .details-strike .text-position {
    color: #662E9B;
    fill: #662E9B;
  }
  .circle-violence,
  .circle-violence ~ .text-position,
  .details-violence .text-position {
    color: #ED254E;
    fill: #ED254E;
  }
  
  .circle-hovered {
    fill-opacity: 0.2;
  }
  .circle-clicked {
    fill: #fff;
    transition: fill 1s, r 0.9s;
    -webkit-transition: fill 1s, r 0.9s;
  }
  .text-date,
  .text-position {
    transition: opacity 0.7s ease-in-out;
    -webkit-transition: opacity 0.7s ease-in-out;
  }
  .text-date {
    fill: #888;
    font-family: 'Thasadith', sans-serif;
  }
 
  .text-place {
    font-family: 'Thasadith', sans-serif;
    font-size: 18px;
    fill: #888;
    margin-top: 10px;
  }
  .text-place.hovered,
  .text-desc.hovered,
  .text-date.hovered {
    transition: opacity 1.5s;
  }
  .text-place,
  .text-desc{
    transition: opacity 0.1s;
  }
  .position-title {
    font-size: 25px;
  }
  .text-position,
  .text-desc {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
  }
  .text-desc {
    color: #444;
    margin-top: 20px;
  }
  .close-icon {
    color: #ccc;
    cursor: pointer;
    float: right;
    font-size: 38px;
    display: inline-block;
    vertical-align: middle;
  }
  .title {
    clear: both;
    display: inline-block;
  }
  .details {
    transition: opacity 1s ease-in-out;
  }
  